@import "@src/styles/mixins";

.EditDutyPageWrapper {
  display: flex;
  justify-content: center;
}

.EditDutyFormWrapper {
  margin-top: 30px;
  width: 100%;
  max-width: 420px;
}

.EditDutyBack {
  position: absolute;
  grid-area: link;
}

.EditDutyTitleWrapper {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-areas: "link title .";
  grid-template-columns: minmax(100px,1fr) auto minmax(100px,1fr);
  margin-bottom: 30px;
}

.EditDutyTitle {
  @include title;
  text-align: center;
  align-self: center;
  font-size: 22px;
  grid-area: title;
  margin: 0;
  flex-grow: 1;
  color: $title-light-text-color;
}

.EditDutyForm {
  padding: 30px 20px;
  background-color: $component-bg;
  border-radius: $border-radius;
}

