@import "styles/atomic";
@import "styles/variables";
@import "styles/mixins";
@import "styles/fonts";

html {
  color: $text-color;
  //overflow-y: scroll;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //overflow-y: scroll;
  overflow-y: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

:root {
  --sidebar-width: 80px;
  --header-height: 60px;
  --toastify-color-info: #2C9E95;
  --toastify-color-success: #72b274;
  --toastify-color-error: #f68080;
}

.Toastify__toast-container {
  width: 320px;

  @include for-tablet {
    width: 450px;
  }
}

.Toastify__toast {
  padding: 22px 15px;
}

.Toastify__toast-icon {
  width: 25px;
  margin-right: 10px;
}

.react-datepicker__header {
  background-color: $content-color;
  border-color: $border-color;
}


*::-webkit-scrollbar {
  width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f8f8f8;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
