@import "@src/styles/variables";

.BackButtonWrapper {
  display: inline-block;
  padding: 4px 14px;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: background-color 0.4s;
  cursor: pointer;

  &:hover {
    border-color: $light-bg-color;
    background-color: $light-bg-color;
  }
}

.BackButtonContent {
  display: flex;
  align-items: center;
}

.BackButtonIcon {
  margin-right: 7px;
  font-size: 12px;
}

.BackButtonText {
  margin: 4px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
}
