@import "@src/styles/mixins";

.CreateDebtPageWrapper {
  display: flex;
  justify-content: center;

  @include for-tablet() {
    width: 100vw;
  }
}

.CreateDebtFormWrapper {
  margin-top: 30px;
  width: 100%;
  max-width: 420px;
}

.CreateDebtBack {
  position: absolute;
  grid-area: link;
}

.CreateDebtTitleWrapper {
  width: 100%;
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-areas: "link title .";
  grid-template-columns: minmax(100px,1fr) auto minmax(100px,1fr);
  margin-bottom: 30px;
}

.CreateDebtTitle {
  @include title;
  align-self: center;
  font-size: 22px;
  grid-area: title;
  margin: 0;
  flex-grow: 1;
  color: $title-light-text-color;
}

.CreateDebtForm {
  padding: 30px 20px;
  background-color: $component-bg;
  border-radius: $border-radius;
}

.CreateSelectWrapper {
  margin-bottom: 16px;
  border-bottom: 1px solid $border-color;
  padding-bottom: 20px;
}
