@import "@src/styles/mixins";

.CurrentPageWrapper {

}

.CurrentContentWrapper {
  max-width: 920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100% 100%;
  padding: 16px;

  @include for-tablet {
    padding: 88px 16px 16px;
    grid-template-columns: 100%;
  }
}

.CurrentPageControls {
  background-color: $component-bg;
  display: flex;
  justify-content: space-between;
  height: auto;
  border-bottom: 1px solid $border-color;
  padding: 10px 15px 10px 35px;
  flex-direction: column;

  @include for-tablet {
    position: fixed;
    top: $header-height;
    z-index: 9;
    width: calc(100% - 80px);
    padding: 10px 15px 10px 35px;
    flex-direction: row;
    align-items: center;
    height: $page-controls-height;
  }
}

.CurrentPageTitleWrapper {
  display: flex;
  align-items: center;

  h3 {
    font-size: 24px;
    margin: 0 0 10px;
    display: none;
    line-height: 24px;

    @include for-tablet {
      margin: 0 25px 0 0;
      display: block;
    }
  }

  div {
    display: none;

    @include for-desktop {
      display: flex;
    }
  }
}
