@import "@src/styles/mixins";

.InviteModalWrapper {
  padding: 20px 30px;
  box-sizing: border-box;
  max-width: 650px;
}

.InviteModalTitle {
  @include title;
  font-size: 22px;
  color: $title-light-text-color;
  text-align: center;
  margin-top: 15px;
}

.InviteModalImg {
  max-width: 250px;
  display: block;
  margin: 0 auto;
  text-align: center;

  @include for-tablet {
    max-width: 300px;
  }
}

.InviteModalText {
  text-align: center;
}

.InviteInputWrapper {
  flex-grow: 1;
  width: 100%;
  margin-bottom: 20px;
}

.InviteModalButtons {
  margin: 15px 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include for-tablet {
    flex-direction: row;
  }
}
