@import "@src/styles/variables";
@import "@src/styles/mixins";

.DutiesList {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;

  @include for-tablet() {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  }

  @include for-desktop() {
    gap: 30px;
    grid-template-columns: calc(33% - 10px) calc(33% - 10px) calc(33% - 10px);
  }
}
