@import "@src/styles/variables";

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.MenuWrapper {
  display: inline-block;
  position: relative;
  height: 20px;
  z-index: 1;

  width: 20px;

  &--open {
    z-index: 10;
  }
}

.MenuIcon {
  line-height: 1;
  font-size: 16px;
  z-index: 12;
  color: $light-text-color;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    color: $text-color;
  }
}

.MenuContent {
  background-color: #ffffff;
  position: absolute;
  right: 100%;
  bottom: -100%;
  width: 200px;
  max-width: 200px;
  box-shadow: 0 0 8px rgba(15, 15, 16, 0.1);
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #efefef;
  display: none;
  animation: appear 0.1s linear;

  &--open {
    display: block;
  }
}
