@import "@src/styles/variables";

.DebtMenuList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.DebtMenuItem {
  padding: 10px;
  user-select: none;

  &:hover {
    background-color: $content-color-hover;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $light-bg-color;
  }

  &--danger {
    color: $danger-color;
  }
}
