$body-color: #fff;
$content-color: #f5f6fa;
$content-color-hover: #fbfbfb;
$background-color-text-field: #e8f0fe;
$light-field-hover: #f7f8fb;
$light-bg-color: #eeeff3;
$disabled-text-field: #e9eaef;
$component-bg: #ffffff;
$chat-bg: #fafbfd;
$primary-color: #2C9E95;
$primary-color-disabled: #74a9a5;
$primary-color-active: #45a29a;
$primary-color-hover: #278981;
$primary-color-light: #ecfffe;
$border-color: #dee2ed;
$border-color-hover: #dee2ed;
$border-color-active: #8b93a6;
$bright-text-color: #626264;
$light-text-color: #bfc5d1;
$text-color: #333a4a;
$dark-text-color: #18181a;
$title-text-color: #0f0f10;
$title-light-text-color: #485268;
$reverse-text-color: #fff;
$danger-color: #f14f4f;
$danger-color-hover: #d74242;
$danger-color-transparent: rgba(241, 79, 79, 0.25);
$success-color: #72b274;
$success-color-transparent: rgba(114, 178, 116, 0.25);
$info-color: #ea9f40;
$info-color-transparent: rgba(234, 159, 64, 0.25);
$font-family: 'Manrope', sans-serif;
$modal-bg: rgba(72,82,104,.6);
$box-shadow: rgba(0, 0, 0, 0.10) 0px 20px 40px 0px;
$light-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

$border-radius: 5px;

$header-height: 60px;
$sidebar-width: 80px;
$page-controls-height: 72px;
