@import "@src/styles/variables";
@import "@src/styles/mixins";

.ChangePasswordPageWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px 20px 0;
}

.ChangePasswordPageContent {
  width: 100%;
  max-width: 680px;
  background-color: $component-bg;
  border-radius: 15px;
  padding: 32px;
  border: 1px solid $border-color;
}

.ChangePasswordTitle {
  @include title;
  font-size: 18px;
  margin: 0 0 20px;
  color: $title-light-text-color;
  font-weight: 600;
}

.ChangePasswordInputsWrapper {
  display: flex;
  flex-direction: column;



  @include for-tablet {
    justify-content: space-between;
    gap: 20px;
    flex-direction: row;

    & > div {
      max-width: calc(50% - 20px);
      flex-grow: 1;
    }
  }
}
